.top-background{
    background-color: #E6E6EC;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}
.navbar{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
    align-items: center;
}
.nav-items{
    list-style-type: none;
    font-weight: bold;
    color: #0A2C3D;
    display: flex;
}
.nav-items li{
    margin: 10px;
}   
.bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.person{
    height: 400px;
    width: 400px;
}
.button{
    height: 40px;
    width: 40px;
}
.text-section{
    display: flex;
    flex-direction: column;
}
.text-section p{
    font-weight: bold;
    font-size: 10px;
}
.text{
    margin: 0px;
    color: #CF6F11;
}
.text-heading{
    color: #0B1E33;
    margin: 0px;
    font-size: 60px;
}
.text-description{
    color: #273D55 !important;
    font-weight: 100;
}
.contactus{
    background-color: #0A2C3D;
    height: 40px;
    width: 150px;
    border-width: 0px;
    color: white;
}